<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <!--<%= form_for(@user) do |f| %>
    	<%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>-->
    <%= form_tag('/users', :method=>'post') do %>
      <%= render 'shared/error_messages' %>
      <label for="user_name">Name:</label><%= text_field_tag 'user[name]' %>
      <label for="user_email">Email:</label><%= text_field_tag 'user[email]' %>
      <label for="user_password">Password:</label><%= password_field_tag 'user[password]' %>
      <label for="user_password_confirmation">Confirmation:</label><%= password_field_tag 'user[password_confirmation]' %>
      <%= submit_tag 'Create my account',:class => "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>